body {margin: 0;padding: 0}
.pojok-kiri {position: fixed;width: 400px;height: 100vh;background-color: skyblue;}
.foto-profile {position: absolute;top: 100px;text-align: center;}
.edit-foto {width: 70%;border-radius: 70%}
.tombol {width: 70%;background-color: whitesmoke;border-radius: 15px;margin-bottom: 13px;font-size: 1.2rem;font-weight:bold;padding:10px }
.tombol:hover {background-color: darkblue;color: white;transition: 1s}
.pojok-kanan {position: absolute;left: 400px;top: 15px}
.fitur-fitur {padding-top: 50px;padding-left: 100px}
.list {float: right;padding-right: 50px;font-size: 1.2rem;}
.list-menu {padding: 0 15px}
#Profile    {padding-top: 100px;padding-left: 100px}
#About      {padding-top: 100px;padding-left: 100px;padding-right: 100px}
#expereince {padding-top: 100px;padding-left: 100px;padding-right: 100px}
#Achievment {padding-top: 100px;padding-left: 100px}
#Contact    {padding-top: 100px;padding-left: 100px}
#footer     {padding-top: 100px;text-align: center;}


body {background-color: blueviolet;}


a {text-decoration: none;color: darkblue;}
